body{
    font-family: Arial;
    background:#0f172a;
    color:white;
    text-align:center;
}


.header{
    padding:30px;
}


.container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}


.card{
    background:#1e293b;
    padding:25px;
    width:250px;
    border-radius:15px;
}

.light{
    background:white;
    color:black;
}

.light .card{
    background:#e2e8f0;
    color:black;
}

.light button{
    background:#2563eb;
    color:white;
}
button{
    background:#38bdf8;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
}


textarea{
    width:90%;
    height:100px;
}

#display{
width:90%;
height:35px;
font-size:20px;
margin-bottom:10px;
}


.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:8px;
}


.buttons button{
padding:12px;
font-size:18px;
}

#noteTitle{
width:90%;
padding:8px;
margin-bottom:10px;
}

#noteText{
width:90%;
height:100px;
}

.note{
background:#334155;
padding:10px;
margin-top:10px;
border-radius:10px;
}

.light{
    background:white;
    color:black;
}

.light .card{
    background:#e2e8f0;
    color:black;
}

#taskInput{
width:90%;
padding:8px;
margin-bottom:10px;
}


.task{
background:#334155;
padding:10px;
margin:8px;
border-radius:10px;
cursor:pointer;
}
